### **💯 연습문제를 풀어봅시다**

1. <a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="pdcOTVxad0k" href='#jce-judge/open/pdcOTVxad0k' target='_self'><span>판다스 - 데이터 값 변경 - 1개 위치</span></a>

1. <a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="pF0w3GD4yws" href='#jce-judge/open/pF0w3GD4yws' target='_self'><span>친구 이름 변경 (1)</span></a>

2. <a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="UtynmIiHz3Q" href='#jce-judge/open/UtynmIiHz3Q' target='_self'><span>반평균 성적 변경 (1)</span></a>

3. <a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="G7uK_Y6fStY" href='#jce-judge/open/G7uK_Y6fStY' target='_self'><span>아이돌 멤버 변경</span></a>

2. <a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="vI2-Cplg3VY" href='#jce-judge/open/vI2-Cplg3VY' target='_self'><span>판다스 - 데이터 값 변경 - 여러 위치(1)</span></a>

1. <a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="Z4taEsAFFr8" href='#jce-judge/open/Z4taEsAFFr8' target='_self'><span>친구들 나이 변경</span></a>

2. <a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="ul7HW3Vv8zI" href='#jce-judge/open/ul7HW3Vv8zI' target='_self'><span>학교 정보 수정</span></a>

3. <a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="1cSq2qkpN9k" href='#jce-judge/open/1cSq2qkpN9k' target='_self'><span>가계부 수정</span></a>

3. <a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="Lf_f_K08VMY" href='#jce-judge/open/Lf_f_K08VMY' target='_self'><span>판다스 - 데이터 값 변경 - 여러 위치(2)</span></a>

2. <a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="e-P2j-3PEJM" href='#jce-judge/open/e-P2j-3PEJM' target='_self'><span>친구들 정보 변경</span></a>

3. <a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="6ZrVIlCVAq0" href='#jce-judge/open/6ZrVIlCVAq0' target='_self'><span>특정 구역 값 변경</span></a>

In [ ]:
# 1. 판다스 - 데이터 값 변경 - 1개 위치
import pandas as pd
data = pd.Series([0]*10)

n = int(input())
data[n]=input()
print(data)

In [ ]:
# 2. 친구 이름 변경 (1)
import pandas as pd
info = pd.DataFrame(index = range(1, 5),
                   data = {'이름':['김철수', '김영희', '김갑수', '이을수'], 
                          '나이':[17, 17, 18, 19], 
                          '성별':['여', '여', '남', '남']})
info['이름'][4] = '이병지'
print(info)

In [ ]:
# 3. 반평균 성적 변경 (1)
import pandas as pd
import random
random.seed(20)
scores = pd.DataFrame(index=['국어', '수학', '영어'], 
                     data = {'1반':[random.randint(1, 100) for i in range(3)], 
                            '2반':[random.randint(1, 100) for i in range(3)], 
                            '3반':[random.randint(1, 100) for i in range(3)], 
                            '4반':[random.randint(1, 100) for i in range(3)],
                            '5반':[random.randint(1, 100) for i in range(3)]})

scores['3반']['국어'] = 99
print(scores)

In [ ]:
# 4. 아이돌 멤버 변경
import pandas as pd
idols = {'뉴진스':{'첫째':'민지', '둘째':'하니', '셋째':'다니엘', '넷째':'해린', '막내':'혜인'}, 
         '르세라핌':{'첫째':'사쿠라', '둘째':'김채원', '셋째':'허윤진', '넷째':'카즈하', '막내':'은채'}, 
         'TXT':{'첫째':'연준', '둘째':'수진', '셋째':'범규', '넷째':'태현', '막내':'휴닝카이'}, 
         '셀럽파이브':{'첫째':'송은이', '둘째':'신봉선', '셋째':'김신영', '넷째':'김영희', '막내':'안영미'}}
df = pd.DataFrame(idols)

df['셀럽파이브']['넷째'] = None
print(df)

In [ ]:
# 5. 판다스 - 데이터 값 변경 - 여러 위치(1)
import pandas as pd
data = pd.DataFrame([[0]*5]*5)

a, b, c = map(int, input().split())

n = [i for i in range(b, b+c)]

data.iloc[a:a+c, b:b+c]=1
print(data)

In [ ]:
# 6. 친구들 나이 변경
import pandas as pd
idx = ['키', '몸무게', '나이']
info = {'김철수':[190, 88, 25], 
       '김영희':[170, 50, 18],
       '김갑수':[170, 70, 20],
       '이을수':[150, 40, 30]}
df = pd.DataFrame(index=idx, data=info)

df.loc['나이'] = 18
print(df)

In [1]:
# 7. 학교 정보 수정
import pandas as pd
info = pd.DataFrame(index=['1학년', '2학년', '3학년'], 
                   data = {'학급수': [1, 4, 2], 
                          '담임교사수': [5, 2, 3], 
                          '층수': [2, 3, 4]})


info[[ '학급수', '담임교사수']] = 10
print(info)

In [ ]:
# 8. 가계부 수정
import pandas as pd
week = ['첫째주', '둘째주', '셋째주', '넷째주']
acc = [[5000, 10000, 100000, 2000], [5000, 1000, 50000, 30000], [20000, 5000, 40000, 300000], [50000, 2000, 30000, 100000]]
col = ['식비','교통비', '관리비', '기타비용']
house_acc = pd.DataFrame(index=week, columns=col, data=acc)

house_acc.iloc[1:3, 1:3]=1000
print(house_acc)

In [ ]:
# 9. 판다스 - 데이터 값 변경 - 여러 위치(2)
import pandas as pd
data = pd.DataFrame([[0]*5]*5)
pattern =[[0, 1, 0], [1, 1, 1], [0, 1, 0]]

a, b = map(int, input().split())

data.iloc[a:a+3, b:b+3] = pattern
print(data)

In [ ]:
# 10. 친구들 정보 변경
import pandas as pd
idx = ['키', '몸무게', '나이']
info = {'김철수':[190, 88, 25], 
       '김영희':[170, 50, 18],
       '김갑수':[170, 70, 20],
       '이을수':[150, 40, 30]}
df = pd.DataFrame(index=idx, data=info)

height = [180, 168, 175, 153]
age = [27, 20, 22, 32]

df.iloc[[0, 2]]=[height,age]
print(df)

In [ ]:
# 11. 특정 구역 값 변경
import pandas as pd
idx = ['i1', 'i2', 'i3', 'i4', 'i5', 'i6', 'i7']
items = {'col1':[1, 2, 3, 4, 5, 6, 7], 
         'col2':['a', 'b', 'c', 'd', 'e', 'f', 'g'], 
         'col3':[0.7, 0.6, 0.5, 0.4, 0.3, 0.2, 0.1], 
         'col4':['f', 'm', 'f', 'f', 'm', 'm', 'm'], 
         'col5':[6, 7, 6, 6, 6, 7, 7]}
df = pd.DataFrame(index=idx, data=items)

new_one = [['AAA', 'BBB'], ['CCC', 'DDD'], ['EEE', 'FFF']]

df.iloc[2:5, 1:3] = new_one
print(df)