### **💯 연습문제를 풀어봅시다**

1. <a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="SzB0uPNXl9Y" href='#jce-judge/open/SzB0uPNXl9Y' target='_self'><span>판다스 - 데이터 값 변경 - 1가지 값</span></a>

1. <a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="f4VGEDRxHO4" href='#jce-judge/open/f4VGEDRxHO4' target='_self'><span>친구 이름 변경 (2)</span></a>

2. <a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="4egTpZbVMZ4" href='#jce-judge/open/4egTpZbVMZ4' target='_self'><span>반평균 성적 변경(2)</span></a>


2. <a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="2xZ3Fs7FMtg" href='#jce-judge/open/2xZ3Fs7FMtg' target='_self'><span>판다스 - 데이터 값 변경 - 여러가지 값 (1)</span></a>

1. <a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="uMudTUOpafQ" href='#jce-judge/open/uMudTUOpafQ' target='_self'><span>아이돌 멤버수 수정</span></a>


2. <a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="3Be5uuDlrEI" href='#jce-judge/open/3Be5uuDlrEI' target='_self'><span>가족 직업 변경 (2)</span></a>


3. <a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="E3Vp2wXS6Hw" href='#jce-judge/open/E3Vp2wXS6Hw' target='_self'><span>판다스 - 데이터 값 변경 - 여러가지 값 (2)</span></a>


2. <a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="mL-2BXbypoE" href='#jce-judge/open/mL-2BXbypoE' target='_self'><span>판다스 - 데이터 값 변경 - 여러가지 값(3)</span></a>

1. <a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="LBop0grjxDs" href='#jce-judge/open/LBop0grjxDs' target='_self'><span>타이틀로 업데이트</span></a>

In [ ]:
# 1. 판다스 - 데이터 값 변경 - 1가지 값
import pandas as pd
data = pd.DataFrame([list('OVOVO'), list('VVVLL'), list('LLVVV'), list('OLVLO'), list('OOVOO')])

a = input()
b = input()

data.replace(a, b, inplace=True)
print(data)

In [ ]:
# 2. 친구 이름 변경 (2)
import pandas as pd
info = pd.DataFrame(index = range(1, 5),
                   data = {'이름':['김철수', '김영희', '김갑수', '이을수'], 
                          '나이':[17, 17, 18, 19], 
                          '성별':['여', '여', '남', '남']})

info.replace('김철수', '김수정', inplace=True)
print(info)

In [ ]:
# 3. 반평균 성적 변경(2)
import pandas as pd
scores = pd.DataFrame(index=['국어', '수학', '영어'], 
                     data = {'1반':[90, 52, 88], 
                            '2반':[99, 23, 69], 
                            '3반':[87, 35, 99], 
                            '4반':[92, 44, 12],
                            '5반':[99, 23, 55]})

scores.replace(99, '일등', inplace=True)
print(scores)

In [ ]:
# 4. 판다스 - 데이터 값 변경 - 여러가지 값 (1)
import pandas as pd
data = pd.DataFrame([list('OEOVO'), list('VEVLE'), list('LLVEE'), list('OLVLO'), list('OOEOO')])

a = list(input().split())
b = input()
data.replace(a, b, inplace=True)
print(data)

In [ ]:
# 5. 아이돌 멤버수 수정
import pandas as pd
member = pd.Series(index=['뉴진스', '르세라핌', 'TXT'], 
                  data=[6, 7, 8], name = '멤버수')

member.replace([6, 7, 8], 5, inplace=True)
print(member)

In [ ]:
# 6. 가족 직업 변경 (2)
import pandas as pd
idx = ['할아버지', '할머니', '엄마', '아빠', '언니', '나', '남동생']
data = {'나이':[90, 88, 50, 50, 26, 18, 16],
       '키':[190, 150, 160, 179, 160, 165, 155],
       '몸무게':[90, 45, 50, 80, 48, 52, 42],
       '직업':['교사', '은행원', '사무직', '변호사', '대학생', '고등학생', '중학생']}
family = pd.DataFrame(index=idx, data=data)

family.replace(['대학생', '고등학생', '중학생'], '학생', inplace=True)
print(family)

In [ ]:
# 7. 판다스 - 데이터 값 변경 - 여러가지 값 (2)
import pandas as pd
data = pd.DataFrame([list('EVEVO'), list('VVVLL'), list('LLVVV'), list('ELVLO'), list('OOVEE')])

a = input().split()
b = input().split()
data.replace(a, b, inplace=True)
print(data)

In [ ]:
# 8. 판다스 - 데이터 값 변경 - 여러가지 값(3)
import pandas as pd
star = pd.DataFrame([list('-::---::-'),
                    list('::::-::::'),
                    list(':::::::::'),
                    list('-:::::::-'),
                    list('--:::::--'),
                    list('---:::---'),
                    list('----:----')])

star.replace({':':'#', '-':'.'}, inplace=True)
print(star)

In [ ]:
# 9. 타이틀로 업데이트
import pandas as pd
latest = pd.DataFrame(index=['블랙핑크', '뉴진스', '르세라핌', '카라'],
                     data={'노래':['Pink Venom', 'Ditto', 'No Celestial', 'Oxygen'], 
                          '앨범명':['BORN PINK', 'New Jeans \'OMG\'', 'ANTIFRAGILE', 'MOVE AGAIN']})

title = {'Pink Venom':'Shut Down', 'Ditto':'OMG', 'No Celestial':'ANTIFRAGILE', 'Oxygen':'WHEN I MOVE'}

latest.replace(title, inplace=True)
print(latest)