### **💯 연습문제를 풀어봅시다**

1. <a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="nuRAz-IVE_s" href='#jce-judge/open/nuRAz-IVE_s' target='_self'><span>판다스 - 데이터 나누기 - 행 기준 (비교 연산 1)</span></a>

2. <a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="BlvfsJPAf0c" href='#jce-judge/open/BlvfsJPAf0c' target='_self'><span>판다스 - 데이터 나누기 - boolean indexing</span></a>

3. <a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="bwvFokLhC_Y" href='#jce-judge/open/bwvFokLhC_Y' target='_self'><span>판다스 - 데이터 나누기 - boolean indexing(2)</span></a>

4. <a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="ChuKgwqgGus" href='#jce-judge/open/ChuKgwqgGus' target='_self'><span>판다스 - 데이터 나누기 - 행 기준 (비교 연산 2)</span></a>

5. <a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="tYDpenjOzyA" href='#jce-judge/open/tYDpenjOzyA' target='_self'><span>득표수 100이상</span></a>

6. <a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="KltxWJ2iYbs" href='#jce-judge/open/KltxWJ2iYbs' target='_self'><span>키 170초과</span></a>

7. <a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="Dk1xdaA_OTE" href='#jce-judge/open/Dk1xdaA_OTE' target='_self'><span>판다스 - 데이터 나누기 - 행 기준(비교 연산 3)</span></a>

8. <a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="j6F4bQcy91w" href='#jce-judge/open/j6F4bQcy91w' target='_self'><span>판다스 - 데이터 나누기 - 행 기준 (포함 관계)</span></a>

9. <a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="0jksIko2Wvg" href='#jce-judge/open/0jksIko2Wvg' target='_self'><span>판다스 - 데이터나누기 - 행 기준(포함관계 2)</span></a>

10. <a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="f_rtq-NVNxs" href='#jce-judge/open/f_rtq-NVNxs' target='_self'><span>4반 빼고</span></a>

11. <a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="Zj3rqV004aU" href='#jce-judge/open/Zj3rqV004aU' target='_self'><span>판다스 - 데이터 나누기 - 행 기준 (조건 조합)</span></a>

12. <a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="7SBVgSyGvaE" href='#jce-judge/open/7SBVgSyGvaE' target='_self'><span>4반이 아니고 170이상</span></a>

13. <a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="36T7V0SjZtM" href='#jce-judge/open/36T7V0SjZtM' target='_self'><span>판다스 - 데이터 나누기 - 행 기준(조건 조합 2)</span></a>

In [ ]:
# 1. 판다스 - 데이터 나누기 - 행 기준 (비교 연산 1)
import pandas as pd
df = pd.DataFrame({'품목': ['토마토', '사과', '오이', '만두', '아이스크림', '피자', '피자', '닭강정'],
                  '가격': [7000, 5000, 2000, 8000, 3000, 7000, 9000, 9900],
                  '종류': ['신선', '신선', '신선', '냉동', '냉동', '냉동', '조리', '조리'], 
                  '할인': [False, True, True, False, False, True, False, False]})

price = int(input())
print(df[df.가격<=price])

In [ ]:
# 2. 판다스 - 데이터 나누기 - boolean indexing
import pandas as pd
import seaborn as sns
df = sns.load_dataset('anagrams')

print(df[df.attnr=='divided'])

In [ ]:
# 3. 판다스 - 데이터 나누기 - boolean indexing(2)
import pandas as pd
scores = pd.DataFrame(index=range(1, 11), 
                     data={'국어':[93, 88, 99, 20, 34, 87, 82, 13, 42, 74], 
                          '수학':[22, 4, 53, 53, 10, 14, 17, 41, 61, 75], 
                          '영어':[58, 53, 27, 26, 41, 81, 88, 43, 43, 55], 
                          '한국사':[12, 81, 67, 63, 52, 11, 27, 74, 32, 5]})

print(scores[scores.국어<=50])

In [ ]:
# 4. 판다스 - 데이터 나누기 - 행 기준 (비교 연산 2)
import pandas as pd
df = pd.DataFrame({'품목': ['토마토', '사과', '오이', '만두', '아이스크림', '피자', '피자', '닭강정'],
                  '가격': [7000, 5000, 2000, 8000, 3000, 7000, 9000, 9900],
                  '종류': ['신선', '신선', '신선', '냉동', '냉동', '냉동', '조리', '조리'], 
                  '할인': [False, True, True, False, False, True, False, False]})

print(df.loc[df.할인, ['품목', '가격']])

In [ ]:
# 5. 득표수 100이상
import pandas as pd
vote = pd.DataFrame(index=['A학생', 'B학생', 'C학생', 'D학생'], 
                   data = {'1학년': [98, 34, 22, 100], 
                          '2학년': [50, 22, 40, 10], 
                          '3학년': [99, 28, 33, 20]})

print(vote[vote.sum(axis=1)>=100])

In [ ]:
# 6. 키 170초과
import pandas as pd
df = pd.DataFrame(index=['김철수', '김영희', '김갑수', '이을수'],
                 data = {'키':[190, 170, 177, 150], 
                        '몸무게':[88, 50, 70, 40], 
                        '나이':[18, 18, 18, 18]})

print(df.loc[df['키']>170, ['몸무게', '나이']])

In [ ]:
# 7. 판다스 - 데이터 나누기 - 행 기준(비교 연산 3)
import pandas as pd
import seaborn as sns
df = sns.load_dataset('flights')

print(df[df.month=='Jan'].reset_index(drop=True))

In [ ]:
# 8. 판다스 - 데이터 나누기 - 행 기준 (포함 관계)
import pandas as pd
df = pd.DataFrame({'품목': ['토마토', '사과', '오이', '만두', '아이스크림', '피자', '피자', '닭강정'],
                  '가격': [7000, 5000, 2000, 8000, 3000, 7000, 9000, 9900],
                  '종류': ['신선', '신선', '신선', '냉동', '냉동', '냉동', '조리', '조리'], 
                  '할인': [False, True, True, False, False, True, False, False]})

a = input().split()
print(df[df.종류.isin(a)])

In [ ]:
# 9. 판다스 - 데이터나누기 - 행 기준(포함관계 2)
import pandas as pd
import seaborn as sns
df = sns.load_dataset('titanic')

print(df.loc[df.deck.isin(['A', 'B']), ['survived', 'sex', 'age']].reset_index(drop=True))

In [ ]:
# 10. 4반 빼고
import pandas as pd
import random 
random.seed(10)
df = pd.DataFrame(index=range(1, 11),
                 data = {'키':[190, 170, 177, 150, 190, 160, 172, 150, 148, 186], 
                        '몸무게':[88, 50, 70, 40, 88, 58, 73, 40, 44, 99], 
                        '나이':[18, 18, 18, 18, 18, 18, 18, 18, 18, 17], 
                        '반':[random.choice(['1반', '2반', '3반', '4반', '5반']) for i in range(10)]})

class4 = df['반'].isin(['4반'])
print(df[~class4])

In [ ]:
# 11. 판다스 - 데이터 나누기 - 행 기준 (조건 조합)
import pandas as pd
df = pd.DataFrame({'품목': ['토마토', '사과', '오이', '만두', '아이스크림', '피자', '피자', '닭강정'],
                  '가격': [7000, 5000, 2000, 8000, 3000, 7000, 9000, 9900],
                  '종류': ['신선', '신선', '신선', '냉동', '냉동', '냉동', '조리', '조리'], 
                  '할인': [False, True, True, False, False, True, False, False]})

price = int(input())
condition1 = df.할인
condition2 = df.가격<=price

print(df[condition1 & condition2])

In [ ]:
# 12. 4반이 아니고 170이상
import pandas as pd
import random 
random.seed(10)
df = pd.DataFrame(index=range(1, 11),
                 data = {'키':[random.randint(150, 199) for i in range(10)], 
                        '몸무게':[88, 50, 70, 40, 88, 58, 73, 40, 44, 99], 
                        '나이':[18, 18, 18, 18, 18, 18, 18, 18, 18, 17], 
                        '반':[random.choice(['1반', '2반', '3반', '4반', '5반']) for i in range(10)]})
class4 = df['반'].isin(['4반'])
height = df['키']>=170

print(df[~class4 & height])

In [ ]:
# 13. 판다스 - 데이터 나누기 - 행 기준(조건 조합 2)
import pandas as pd
import seaborn as sns
df = sns.load_dataset('glue')

year = df['Year'].isin([2017, 2018])
encoder_T = df['Encoder']=='Transformer'
score = df['Score']>=90

print(df[(~year&encoder_T)|score])