
<a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="n7JXblBYBxo" href='#jce-judge/open/n7JXblBYBxo' target='_self'><span>판다스 - 데이터 가공 프로젝트 - 문제1</span></a>


<a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="362vR3-jZY8" href='#jce-judge/open/362vR3-jZY8' target='_self'><span>판다스 - 데이터 가공 프로젝트 - 문제2</span></a>

<a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="EG1FvEm74pI" href='#jce-judge/open/EG1FvEm74pI' target='_self'><span>판다스 - 데이터 가공 프로젝트 - 문제3</span></a>

<a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="270tyrqTHT4" href='#jce-judge/open/270tyrqTHT4' target='_self'><span>판다스 - 데이터 가공 프로젝트 - 문제4</span></a>



<a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="ZC_uuGtxGNM" href='#jce-judge/open/ZC_uuGtxGNM' target='_self'><span>판다스 - 데이터 가공 프로젝트 - 문제5</span></a>

In [ ]:
# 문제 1
import pandas as pd
import seaborn as sns

# 타이타닉 데이터
df = sns.load_dataset('titanic')[["survived", "age", "fare", "class", "who", "deck", "embark_town", "alone"]]

########## 여기에 코딩해주세요. ##########

print(df.describe(include='category'))

########################################

In [ ]:
# 문제 2
import pandas as pd
import seaborn as sns

# 타이타닉 데이터
df = sns.load_dataset('titanic')[["survived", "age", "fare", "class", "who", "deck", "embark_town", "alone"]]

########## 여기에 코딩해주세요. ##########

df.drop(columns='deck', inplace=True)
df.dropna(subset=["age"], inplace=True)

df.info()
########################################

In [ ]:
# 문제 3
import pandas as pd
import seaborn as sns

# 타이타닉 데이터
df = sns.load_dataset('titanic')[["survived", "age", "fare", "class", "who", "deck", "embark_town", "alone"]]

########## 여기에 코딩해주세요. ##########

df.drop(columns='deck', inplace=True)
df.dropna(subset=["age"], inplace=True)
df.fillna({'embark_town':'Southampton'}, inplace=True)

df.info()
########################################

In [ ]:
# 문제 4
import pandas as pd
import seaborn as sns

# 타이타닉 데이터
df = sns.load_dataset('titanic')[["survived", "age", "fare", "class", "who", "deck", "embark_town", "alone"]]

########## 여기에 코딩해주세요. ##########

df.drop(columns='deck', inplace=True)
df.dropna(subset=["age"], inplace=True)
df.fillna({'embark_town':'Southampton'}, inplace=True)

print(df.groupby('survived').describe(include='category'))

########################################

In [ ]:
# 문제 5
import pandas as pd
import seaborn as sns

# 타이타닉 데이터
df = sns.load_dataset('titanic')[["survived", "age", "fare", "class", "who", "deck", "embark_town", "alone"]]

########## 여기에 코딩해주세요. ##########

df.drop(columns='deck', inplace=True)
df.dropna(subset=["age"], inplace=True)
df.fillna({'embark_town':'Southampton'}, inplace=True)

print(df.groupby('class')['survived'].describe())

########################################